react-frontend/node_modules
react-frontend/node_modules/*

spring-boot-backend/target
spring-boot-backend/!.mvn/wrapper/maven-wrapper.jar
spring-boot-backend/!**/src/test/**/target/

spring-boot-backend/.apt_generated
spring-boot-backend/.classpath
spring-boot-backend/.factorypath
spring-boot-backend/.project
spring-boot-backend/.settings
spring-boot-backend/.springBeans
spring-boot-backend/.sts4-cache

spring-boot-backend/.idea
spring-boot-backend/*.iws
spring-boot-backend/*.iml
spring-boot-backend/*.ipr

spring-boot-backend//nbproject/private/
spring-boot-backend//nbbuild/
spring-boot-backend//dist/
spring-boot-backend//nbdist/
spring-boot-backend//.nb-gradle/
spring-boot-backend/build/
spring-boot-backend/!**/src/main/**/build/
spring-boot-backend/!**/src/test/**/build/

spring-boot-backend/.vscode/